.advantages__container {
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 76px;

    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
  }
}

.advantages__title {
  margin-bottom: 40px;

  font-weight: 400;
  font-family: $ff-oswald;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }
}

.advantages__list {
  @media (min-width: $tablet-width) {
    display: grid;

    gap: 108px 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 77px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages__item {
  position: relative;

  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }

  &::before {
    content: "";
    position: absolute;

    width: 60px;
    height: 60px;

    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--useful::before {
    background-image: url("../img/svg/icon-leaf.svg");
  }

  &--release-form::before {
    background-image: url("../img/svg/icon-form.svg");
  }

  &--food-time::before {
    background-image: url("../img/svg/icon-eat.svg");
  }

  &--terms::before {
    background-image: url("../img/svg/icon-clock.svg");
  }
}

.advantages__item span {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 90px;
    left: 116px;
    z-index: -1;

    display: block;

    font-size: 280px;
    font-family: $ff-oswald;
    color: $basic-grey;
  }
}

.advantages__desc {
  padding-left: 77px;

  @media (min-width: $tablet-width) {
    padding-top: 111px;
    padding-left: 0;

    font-size: 16px;
    line-height: 24px;
  }
}
