.example {
  background-color: $basic-grey;
}

.example__container {
  display: flex;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  font-family: $ff-oswald;
}

.example__desc {
  color: $secondary-dark-grey;
}

.example__parameter {
  font-size: 24px;
  font-family: $ff-oswald;
}

.example__parameter-desc {
  font-size: 12px;
  color: $secondary-dark-grey;
}

.example__total-cost {
  font-family: $ff-oswald;
  text-transform: uppercase;
}
