.example {
  padding: 25px 0 40px;

  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 45px 0 102px;

    background-image: linear-gradient(0deg, $basic-grey 42.5%, $light 42.9%);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 74px;

    background-color: $basic-grey;
    background-image: linear-gradient(0deg, $basic-grey 77%, $light 77%);
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    align-items: start;

    gap: 10px 224px;
    grid-template-columns: 436px 1fr;
  }
}

.example__description {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 79px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.example__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__desc {
  margin: 0 0 20px;

  color: $secondary-dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.example__parameter-outer {
  text-align: center;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    display: grid;

    grid-template-columns: 367px 1fr;
  }
}

.example__parameter-list {
  display: grid;
  margin: 0 0 21px;

  gap: 32px;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    gap: 43px;
    grid-template-columns: repeat(2, 162px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.example__parameter {
  padding: 14px 10px 16px;

  font-size: 24px;
  line-height: 24px;
  font-family: $ff-oswald;
  text-transform: uppercase;

  border: 1px solid $line-grey;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    padding-bottom: 19px;

    font-size: 30px;
    line-height: 37px;
  }
}

.example__parameter-desc {
  max-width: 90px;
  margin: -10px auto 0;
  padding: 0 7px;

  font-size: 12px;
  line-height: 12px;
  color: $secondary-dark-grey;
  text-transform: lowercase;

  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    max-width: fit-content;
    padding: 0 9px;

    font-size: 14px;
    line-height: 14px;

    background-color: $light;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.example__total-cost {
  margin: 0;

  font-family: $ff-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 200px;
    margin-top: 11px;

    font-size: 20px;
    line-height: 20px;
    text-align: right;

    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    margin-top: 0;

    text-align: left;
  }
}

.example__total-cost span {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 60px;
  }
}
