.footer {
  background-color: $basic-grey;
}

.footer__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

// Цвет лого не красится???
.footer__logo {
  display: block;
  margin-bottom: 19px;

  text-align: center;
  color: #111111;

  fill: currentColor;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    color: #3e3e3e;

    outline: none;
  }

  &:active {
    color: #6b6b6b;

    opacity: 0.3;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 19px 0;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  gap: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0;

    border: none;
  }
}

.social__link {
  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;

    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;

    fill: $basic-green;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $secondary-dark-grey;

  @media (min-width: $tablet-width) {
    width: 168px;

    font-size: 16px;
    line-height: 20px;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;

    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;

    fill: $basic-green;
  }
}
