.header {
  @media (min-width: $desktop-width) {
    position: relative;

    padding-bottom: 53px;
  }
}

.header__container {
  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.header__navigation {
  padding: 13px 0 14px;

  @media (min-width: $tablet-width) {
    padding: 25px 0 14px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 28px;
  }
}

.header--home:after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: -1;

    background-color: rgba(104, 183, 56, 0.85);
    background-image: linear-gradient(
        to top,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/cat-background-desktop.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to top,
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../img/cat-background-desktop@2x.png");
    }
  }
}
