.header {
  position: relative;
}

.header__container {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
    margin-bottom: 65px;
  }
}

.header--home:after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: -1;

    background-color: rgba(104, 183, 56, 0.85);
    background-image: linear-gradient(
        to top,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../../img/cat-background-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
