.header__container {
  padding-bottom: 63px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .header {
    background-color: #10dfcd;
  }
}
