.header {
  position: relative;
}

.header__container {
  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      left: -20px;

      box-sizing: content-box;
      width: 100%;
      padding-right: 20px;
      padding-left: 20px;

      border-bottom: 1px solid #d9d9d9;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }
}

.header--home:after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: -1;

    background-color: rgba(104, 183, 56, 0.85);
    background-image: linear-gradient(
        to top,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/cat-background-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
