.navigation {
  position: relative;

  width: 100%;
  min-height: 65px;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;

    grid-template-columns: repeat(2, auto);
  }
}

.navigation__list {
  position: absolute;
  top: 100%;
  right: -20px;
  left: -20px;
  z-index: 2;

  display: none;
  flex-direction: column;

  text-align: center;

  background-color: $light;

  @media (min-width: $tablet-width) {
    position: static;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;

    gap: 34px;
  }
}

.navigation__item {
  padding-top: 21px;
  padding-bottom: 24px;

  background-color: $light;
  border-top: 1px solid $basic-grey;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-top: 9px;
    padding-bottom: 0;

    background-color: transparent;
    border: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 6px;
  }
}

.navigation__link {
  padding-bottom: 8px;

  font-weight: 400;
  font-size: 20px;
  font-family: $ff-oswald;
  color: $dark;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:focus,
  &:focus-visible,
  &:active {
    outline: none;
    opacity: 0.3;
  }
}

.navigation__link--current {
  border-bottom: 2px solid $basic-green;
}

.header--home .navigation__link--current {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $light;
  }
}

.header--home .navigation__link {
  @media (min-width: $desktop-width) {
    color: $light;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    &:focus,
    &:focus-visible {
      opacity: 0.3;
    }
  }
}

.navigation.is-open .navigation__list {
  display: flex;
}

.navigation__toggle {
  position: absolute;
  top: 22px;
  right: 21px;

  width: 24px;
  height: 18px;

  background-color: transparent;
  border: none;
  border-top: 2px solid $dark;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;

    width: 24px;
    height: 2px;

    border-top: 2px solid $dark;
    transform: translateX(-50%);
  }

  &::before {
    top: 6px;
  }

  &::after {
    bottom: 0;
  }
}

.navigation.is-open .navigation__toggle {
  border-color: transparent;

  &::before {
    transform: translateX(-50%) rotate(45deg);
  }

  &::after {
    bottom: 8px;

    transform: translateX(-50%) rotate(-45deg);
  }
}

.navigation--no-js {
  flex-direction: column;
}

.navigation--no-js .navigation__list {
  position: relative;

  display: block;
}
