.navigation {
  position: relative;

  min-height: 65px;
}

.navigation__list {
  position: absolute;
  top: 100%;
  right: -20px;
  left: -20px;
  z-index: 2;

  display: none;
  flex-direction: column;

  text-align: center;

  background-color: $light;

  @media (min-width: $tablet-width) {
    position: static;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    gap: 33px;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.navigation__item {
  padding-top: 22px;
  padding-bottom: 24px;

  background-color: $light;
  border-top: 1px solid $basic-grey;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    border: none;
  }
}

.navigation__link {
  font-weight: 400;
  font-size: 20px;
  font-family: $ff-oswald;
  color: $dark;
  text-transform: uppercase;
}

.header--home .navigation__link {
  @media (min-width: $desktop-width) {
    color: $light;
  }
}

.navigation.is-open .navigation__list {
  display: flex;
}

.navigation__toggle {
  position: absolute;
  top: 23px;
  right: 0;

  width: 24px;
  height: 24px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.is-closed .navigation__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;

    border-top: 2px solid $dark;
    box-shadow: 0 8px 0 $dark, 0 16px 0 $dark;
  }
}

.is-open .navigation__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 12;
    left: 0;

    width: 24px;
    height: 2px;

    border-top: 2px solid $dark;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
