.program__item {
  background-color: $basic-grey;
  background-repeat: no-repeat;
  background-position: top left;
}

.program__item--slim {
  background-image: url("../../img/svg/cat-slim.svg");
}

.program__item--pro {
  background-image: url("../../img/svg/cat-pro.svg");
}

.program__title {
  font-weight: 400;
  font-size: 24px;
  font-family: $ff-oswald;
  text-transform: uppercase;
}

.program__text {
  color: $secondary-dark-grey;
}

.program__link {
  font-family: $ff-oswald;
  color: #000000;
  text-transform: uppercase;
}
