.program__container {
  @media (min-width: $desktop-width) {
    margin-top: 82px;
  }
}

.program__list {
  @media (min-width: $desktop-width) {
    display: grid;

    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.program__item {
  margin-bottom: 20px;
  padding: 37px 20px 18px;

  background-color: $basic-grey;
  background-repeat: no-repeat;
  background-position: top left;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 86px 61px 59px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.program__item--slim {
  background-image: url("../img/svg/cat-slim.svg");
  background-position: 20px 21px;
  background-size: 50px 53px;

  @media (min-width: $tablet-width) {
    background-position: top 80px right 62px;
    background-size: 200px 211px;
  }

  @media (min-width: $desktop-width) {
    background-position: 52px 41px;
    background-size: 100px 106px;
  }
}

.program__item--pro {
  background-image: url("../img/svg/cat-pro.svg");
  background-position: 13px 24px;
  background-size: 67px 50px;

  @media (min-width: $tablet-width) {
    background-position: top 92px right 30px;
    background-size: 268px 200px;
  }

  @media (min-width: $desktop-width) {
    background-position: 34px 47px;
    background-size: 134px 100px;
  }
}

.program__title {
  margin-bottom: 33px;
  padding-left: 68px;

  font-weight: 400;
  font-size: 24px;
  font-family: $ff-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 0;

    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-left: 149px;
  }
}

.program__text {
  margin-bottom: 23px;

  color: $secondary-dark-grey;

  @media (min-width: $tablet-width) {
    min-width: 340px;
    max-width: 58%;
    margin-bottom: 52px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.program__link {
  position: relative;

  padding-right: 57px;

  font-family: $ff-oswald;
  color: $dark;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 45%;
    right: 0;

    width: 32px;
    height: 12px;

    background-image: url("../img/svg/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 12px;
    transform: translateY(-50%);
  }

  &:hover::after,
  &:focus::after {
    background-image: url("../img/svg/icon-arrow-hover.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 32px 12px;
  }
}
