.program {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 82px;
  }
}

.program__list {
  @media (min-width: $desktop-width) {
    display: grid;

    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.program__item {
  margin-bottom: 20px;
  padding: 30px 20px 20px;

  background-color: $basic-grey;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 77px 315px 58px 52px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 77px 30px 60px 53px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.program__item--slim {
  background-image: url("../img/svg/cat-slim.svg");
  background-position: 20px 22px;
  background-size: 50px 53px;

  @media (min-width: $tablet-width) {
    background-position: top 80px right 62px;
    background-size: 200px 211px;
  }

  @media (min-width: $desktop-width) {
    background-position: 52px 41px;
    background-size: 100px 106px;
  }
}

.program__item--pro {
  background-image: url("../img/svg/cat-pro.svg");
  background-position: 13px 24px;
  background-size: 67px 50px;

  @media (min-width: $tablet-width) {
    background-position: top 92px right 30px;
    background-size: 268px 200px;
  }

  @media (min-width: $desktop-width) {
    background-position: 34px 47px;
    background-size: 134px 100px;
  }
}

.program__title {
  margin: 0 0 29px;
  padding-left: 70px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $ff-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    padding-left: 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-left: 162px;
  }
}

.program__text {
  margin: 0 0 18px;
  padding-bottom: 22px;

  color: $secondary-dark-grey;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;
  }
}

.program__link {
  position: relative;

  margin-top: auto;
  padding-right: 48px;

  font-size: 16px;
  line-height: 16px;
  font-family: $ff-oswald;
  color: $dark;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-right: 57px;

    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 45%;
    right: 0;

    width: 32px;
    height: 12px;

    background-image: url("../img/svg/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 12px;
    transform: translateY(-50%);
  }

  &:focus::after,
  &:focus-visible {
    outline: none;
  }

  &:hover::after,
  &:focus::after,
  &:focus-visible::after {
    background-image: url("../img/svg/icon-arrow-hover.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 32px 12px;
  }

  //
  &:active {
    opacity: 0.3;
  }
}
