.promo {
  @media (max-width: $mobile-width-only) {
    border-top: 1px solid #d9d9d9;
  }
}

.promo--home {
  @media (max-width: $mobile-width-only) {
    position: relative;

    padding-bottom: 43px;

    border-top: none;
  }
}

.promo__container {
  @media (min-width: 1440px) {
    display: flex;
  }
}

.promo--home .promo__description {
  padding: 27px 20px 165px;

  text-align: center;
  color: $light;

  background-color: rgba(104, 183, 56, 0.85);
  background-image: linear-gradient(
      to top,
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../img/cat-background-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to top,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/cat-background-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    max-width: 554px;
    padding: 51px 50px 10px 92px;

    text-align: left;
    color: $dark;

    background: none;
  }

  @media (min-width: $desktop-width) {
    padding: 82px 50px 10px 80px;
  }
}

.promo--form .promo__description {
  padding: 27px 0 16px;

  @media (min-width: $tablet-width) {
    padding: 52px 40px 43px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 0 8px;
  }
}

.promo--catalog .promo__description {
  padding: 27px 0 29px;

  @media (min-width: $tablet-width) {
    padding: 52px 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 0 32px;
  }
}

.promo--home .promo__container {
  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.promo__img {
  width: 280px;
  height: 270px;
  margin: -135px auto 0;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: -1;

    width: 100%;
    max-width: 709px;
    height: 609px;
    margin-top: -93px;
  }

  @media (min-width: $desktop-width) {
    z-index: auto;

    width: 552px;
    height: 499px;
    margin: 0 0 0 -107px;
  }
}

.promo__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.promo__title {
  margin-bottom: 11px;

  @media (max-width: $mobile-width-only) {
    line-height: 36px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 3px;
  }
}

.promo--home .promo__title {
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-bottom: 41px;
  }
}

.promo--form .promo__title {
  margin-bottom: 37px;

  @media (min-width: 768px) {
    margin-bottom: 53px;
  }
}

.promo__text {
  margin: 0;

  font-family: $ff-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.promo--home .promo__text {
  @media (max-width: $mobile-width-only) {
    line-height: 14px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.promo--form .promo__text {
  @media (min-width: $tablet-width) {
    max-width: 455px;

    line-height: 30px;
  }
}

.promo__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;

  width: 280px;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    position: relative;
    bottom: auto;
    left: auto;

    width: 244px;
    padding: 17px 10px;

    font-size: 20px;
    line-height: 20px;

    transform: none;
  }
}
