.promo {
  @media (max-width: $mobile-width-only) {
    border-top: 1px solid #d9d9d9;
  }
}

.promo--home {
  border-top: none;
}

.promo--home .promo__description {
  height: 302px;
  padding: 27px 20px;

  text-align: center;
  color: $light;

  background-color: rgba(104, 183, 56, 0.85);
  background-image: linear-gradient(
      to top,
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../img/cat-background-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to top,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/cat-background-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-left: 91px;

    text-align: left;
    color: $dark;

    background: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 109px;
    padding-left: 80px;
  }
}

.promo__description {
  font-family: $ff-oswald;
}

.promo--form .promo__description {
  padding: 27px 0 38px;

  @media (min-width: $tablet-width) {
    padding: 65px 0 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 72px 0 8px;
  }
}

.promo--catalog .promo__description {
  padding: 27px 0 41px;

  @media (min-width: $tablet-width) {
    padding: 65px 0 84px;
  }

  @media (min-width: $desktop-width) {
    padding: 73px 0 32px;
  }
}

.promo__container {
  position: relative;

  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.promo--home .promo__container {
  margin-bottom: 20px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0;
    padding-bottom: 37px;
  }
}

.promo--form .promo__container {
  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.promo__img {
  position: relative;
  z-index: 0;

  width: 280px;
  height: 270px;
  margin: -135px auto 6px;

  @media (min-width: $tablet-width) {
    z-index: -1;

    width: 100%;
    max-width: 709px;
    height: 609px;
    margin: -37px auto 0;
  }

  @media (min-width: $desktop-width) {
    z-index: auto;

    width: 552px;
    height: 499px;
    margin-top: 27px;
    margin-left: -68px;
  }
}

.promo__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__text {
  margin-top: 24px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 41px;

    font-size: 20px;
    line-height: 20px;
  }
}

.promo__text--form {
  margin-top: 37px;

  font-family: $ff-oswald;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
    margin-bottom: 16px;

    line-height: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 57px;
    margin-bottom: 10px;
  }
}

.promo__button {
  position: absolute;
  bottom: 0;
  left: 50%;

  max-width: 280px;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    position: relative;
    top: 50px;
    left: 0;

    max-width: 243px;
    padding: 17px 0;

    font-size: 20px;
    line-height: 20px;

    transform: none;
  }
}
