.promo--home {
  margin: 0 -20px;

  background-color: rgba(104, 183, 56, 0.85);
  background-image: linear-gradient(
      to top,
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../../img/cat-background-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
}

.promo__container {
  padding: 0 20px;
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: $ff-oswald;
}

.promo__text {
  text-transform: uppercase;
}

.promo__text--form {
  font-family: $ff-oswald;
}

.promo__button {
  text-transform: uppercase;

  background-color: $basic-green;
}
