.promo--home .promo__description {
  height: 302px;
  margin: 0 -20px;
  padding: 27px 20px;

  text-align: center;
  color: $light;

  background-color: rgba(104, 183, 56, 0.85);
  background-image: linear-gradient(
      to top,
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../../img/cat-background-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    text-align: left;
    color: $dark;

    background: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 37px;

    outline: 1px solid #ffcccc;
  }
}

.promo__description {
  font-family: $ff-oswald;
}

.promo--form .promo__description {
  padding: 27px 0 37px;

  @media (min-width: $tablet-width) {
    padding: 67px 0 54px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 0 55px;
  }
}

.promo--catalog .promo__description {
  padding: 27px 0 41px;

  @media (min-width: $tablet-width) {
    padding: 67px 0 84px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 0 84px;
  }
}

.promo__container {
  position: relative;

  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.promo--home .promo__container {
  margin-bottom: 20px;
  padding-bottom: 37px;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.promo__img {
  position: relative;
  z-index: 0;

  width: 280px;
  height: 270px;
  margin: -135px auto 0;

  @media (min-width: $tablet-width) {
    z-index: -1;

    width: 100%;
    max-width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    z-index: auto;

    width: 552px;
    height: 499px;
    margin-top: 31px;
    margin-left: -64px;

    outline: 2px solid $basic-green;
  }
}

.promo__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.promo__title {
  // margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__text {
  margin-top: 25px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__text--form {
  margin-top: 37px;

  font-family: $ff-oswald;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }
}

.promo__button {
  position: absolute;
  bottom: 0;
  left: 50%;

  max-width: 280px;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    position: relative;
    top: 50px;
    left: 0;

    padding: 14px 0;

    font-size: 20px;
    line-height: 20px;

    transform: none;
  }
}
