.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 24px;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;

  fill: #666666;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;

    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;

    fill: $basic-green;
  }
}
