.title-lines {
  position: relative;

  margin: 0 -20px;
  overflow: hidden;

  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin: 0 -30px;
    padding-left: 30px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 -110px;
    padding-left: 70px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 28%;

    display: inline-block;
    width: 100%;
    height: 2px;

    vertical-align: middle;

    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 25px;
    }
  }

  &::before {
    display: none;
    margin-left: -100%;

    @media (min-width: $tablet-width) {
      display: inline-block;
    }
  }

  &::after {
    margin-right: -100%;
  }
}

.title-lines span {
  display: inline-block;
  max-width: 222px;
  padding: 0 20px;

  background-color: $light;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    padding: 0 40px;
  }
}
