.form {
  @media (min-width: $tablet-width) {
    padding-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 51px;
  }
}

.form__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 80px;
    max-width: 1220px;
    margin: 0 auto;
  }
}

.form__fieldset {
  width: 100%;
  min-width: 320px;
  max-width: 1220px;
  margin: 0 auto;

  border: none;

  &--data {
    padding: 23px 20px;

    @media (min-width: $tablet-width) {
      padding: 21px 70px 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 5px 0;
    }
  }

  &--radio {
    padding: 23px 20px 19px;

    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      padding: 54px 70px 25px;

      border: none;
    }

    @media (min-width: $desktop-width) {
      padding: 5px 0;
    }
  }

  &--contacts {
    padding: 25px 20px 19px;

    @media (min-width: $tablet-width) {
      padding: 33px 70px 35px;
    }

    @media (min-width: $desktop-width) {
      padding: 56px 0 43px;
    }
  }

  &--commit {
    padding: 5px 20px 9px;

    @media (min-width: $tablet-width) {
      padding: 21px 70px 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 18px 0;
    }
  }

  &--check {
    padding: 11px 20px 19px;

    @media (min-width: $tablet-width) {
      padding: 21px 70px 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 39px 0;
    }
  }

  &--submit {
    padding: 15px 20px 16px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 65px;
      align-items: center;
      padding: 34px 70px 20px;
    }

    @media (min-width: $desktop-width) {
      gap: 20px 80px;
      padding: 24px 0 30px;
    }
  }
}

.form__group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.form__fieldset--contacts .form__group {
  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 80px;
  }
}

.form__group-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  align-items: baseline;
  min-height: 30px;

  @media (min-width: $tablet-width) {
    min-height: 40px;
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input {
  width: 100%;
  height: 45px;
  padding: 9px 14px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    height: 52px;
    padding: 9px 18px;

    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
    outline: none;
    box-shadow: 0 0 0 1px #444444;
  }

  &--invalid {
    border-color: #ff8282;
    box-shadow: 0 0 0 1px #ff8282;
  }

  &--valid {
    border-color: #5eaa2f;
    box-shadow: 0 0 0 1px #5eaa2f;
  }

  &:disabled {
    color: #444444;

    background-color: #e5e5e5;

    pointer-events: none;
  }
}

.form__legend {
  margin-bottom: 34px;

  font-size: 24px;
  line-height: 27px;
  font-family: $ff-oswald;

  @media (min-width: $tablet-width) {
    margin: 3px -67px 70px -70px;
    padding-left: 28px;

    font-size: 36px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
  }

  @media (min-width: 1440px) {
    margin: 3px -100px 70px -110px;
  }
}

.form__legend span {
  display: inline-block;
  max-width: 222px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    padding: 0 40px;
  }
}

.form__legend::after,
.form__legend::before {
  top: 16px;

  @media (min-width: $tablet-width) {
    top: 28px;
  }
}

.form__fieldset--commit .form__legend {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.form__fieldset--check .form__legend {
  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.form__input-container {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 13px;

    width: 20px;
    height: 20px;

    background-color: #000000;
    transform: translateY(-50%);

    mask-position: center;
    mask-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      right: 16px;
    }
  }

  &--mail::after {
    mask-image: url("../img/svg/icon-email.svg");
  }

  &--phone::after {
    mask-image: url("../img/svg/icon-phone.svg");
  }

  &:focus-within::after {
    background-color: #68b738;
  }

  &--invalid::after {
    background-color: #ff8282;
  }
}

textarea.form__input {
  height: 150px;
  padding: 14px;

  resize: none;

  @media (min-width: $tablet-width) {
    height: 175px;
    padding: 10px 19px;
  }
}

.form__fieldset--submit p {
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 10px;

    font-size: 16px;
    text-align: left;
  }
}

.form__submit {
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 284px;
    padding: 16px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 568px;
  }
}

// .form {
//   font-size: 16px;
//   font-family: $ff-oswald;
//   color: $secondary-dark-grey;
//   text-transform: uppercase;

//   @media (min-width: $tablet-width) {
//     padding-bottom: 52px;

//     font-size: 20px;
//   }
// }

// .form__container {
//   // @media (min-width: $tablet-width) {
//   //   padding: 0 70px;
//   // }

//   // @media (min-width: $desktop-width) {
//   //   padding: 0;
//   // }
//   @media (min-width: $desktop-width) {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     gap: 20px 80px;
//     max-width: 1220px;
//     margin: 0 auto;
//   }
// }

// .form__fieldset-outer {
//   @media (min-width: $desktop-width) {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 80px;
//   }
// }

// .form__fieldset {
//   display: grid;
//   grid-template-columns: 1fr;
//   gap: 15px;
//   margin: 0 0 24px;
//   padding: 0;

//   border: none;

//   @media (min-width: $tablet-width) {
//     gap: 21px;
//     margin-bottom: 73px;
//   }

//   @media (min-width: $desktop-width) {
//     gap: 20px;
//     margin-bottom: 78px;
//   }
// }

// .form__fieldset--radio {
//   gap: 14px;
//   margin: 0 -20px 27px;
//   padding: 22px 20px 17px;

//   border-top: 1px solid #d9d9d9;
//   border-bottom: 1px solid #d9d9d9;

//   @media (min-width: $tablet-width) {
//     gap: 13px;
//     margin: 0 0 74px;
//     padding: 21px 27px 24px;

//     border: 1px solid #d9d9d9;
//   }

//   @media (min-width: $desktop-width) {
//     gap: 14px;
//     margin: 0 0 77px;
//     padding-top: 24px;
//   }
// }

// .form__fieldset--contacts {
//   @media (min-width: $tablet-width) {
//     margin-bottom: 72px;
//   }

//   @media (min-width: $desktop-width) {
//     margin-bottom: 76px;
//   }
// }

// .form__fieldset--contacts .form__input {
//   padding-right: 33px;

//   @media (min-width: $desktop-width) {
//     padding-right: 40px;
//   }
// }

// .form__fieldset--contacts .form__title span,
// .form__fieldset--comments .form__title span,
// .form__fieldset--control .form__title span {
//   @media (min-width: $tablet-width) {
//     position: relative;
//     top: -20px;

//     padding-top: 15px;
//     padding-bottom: 15px;
//   }
// }

// .form__fieldset--comments {
//   margin-bottom: 23px;

//   @media (min-width: $tablet-width) {
//     margin-bottom: 73px;
//   }

//   @media (min-width: $desktop-width) {
//     margin-bottom: 81px;
//   }
// }

// .form__control {
//   &:hover,
//   &:active {
//     border-color: $control;
//   }

//   &:focus,
//   &:focus-visible {
//     outline: none;
//     opacity: 0.3;
//   }

//   &:disabled,
//   &:disabled + .form__control-text {
//     opacity: 0.3;

//     pointer-events: none;
//   }
// }

// .form__control--radio {
//   position: relative;

//   width: 30px;
//   height: 30px;
//   margin: 0;

//   border: 1px solid $line-grey;
//   border-radius: 50%;

//   appearance: none;

//   &:checked::after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     z-index: 99;

//     width: 13px;
//     height: 13px;

//     background-color: $basic-green;
//     border-radius: 50%;
//     transform: translate(-50%, -50%);
//   }

//   @media (min-width: $tablet-width) {
//     width: 40px;
//     height: 40px;

//     &:checked::after {
//       width: 19px;
//       height: 19px;
//     }
//   }
// }

// .form__radio-item {
//   @media (min-width: $tablet-width) {
//     gap: 20px;
//   }
// }

// .form__control-label {
//   display: grid;
//   grid-template-columns: auto 1fr;
//   gap: 15px;
//   align-items: center;

//   @media (min-width: $tablet-width) {
//     gap: 20px;
//   }
// }

// .form__control-item {
//   margin-bottom: 12px;
// }

// .form__control--check {
//   position: relative;

//   width: 30px;
//   height: 30px;
//   margin: 0;

//   border: 1px solid $line-grey;

//   appearance: none;

//   &:checked {
//     background-image: url("../img/svg/icon-checked.svg");
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: 18px 14px;
//   }

//   @media (min-width: $tablet-width) {
//     width: 40px;
//     height: 40px;

//     &:checked {
//       background-size: 26px 24px;
//     }
//   }
// }

// .form__fieldset--control {
//   margin-bottom: 23px;

//   @media (min-width: $tablet-width) {
//     margin-bottom: -15px;
//   }

//   @media (min-width: $desktop-width) {
//     margin-bottom: -9px;
//   }
// }

// .form .form__fieldset--control .form__title {
//   margin-bottom: 19px;

//   @media (min-width: $tablet-width) {
//     margin-bottom: 1px;
//   }

//   @media (min-width: $desktop-width) {
//     margin-bottom: -1px;
//   }
// }

// .form__control-outer {
//   display: grid;

//   @media (min-width: $tablet-width) {
//     grid-template-columns: 1fr 1fr;
//     gap: 20px 60px;
//     margin-bottom: 54px;
//   }

//   @media (min-width: $desktop-width) {
//     grid-template-columns: repeat(4, 1fr);
//     gap: 14px 80px;
//     margin-bottom: 57px;
//   }
// }

// .form__fieldset--button {
//   margin-bottom: 32px;

//   @media (min-width: $tablet-width) {
//     grid-template-columns: 1fr 1fr;
//     gap: 60px;
//     align-items: center;
//     margin-bottom: 60px;
//   }

//   @media (min-width: $desktop-width) {
//     gap: 80px;
//     margin-bottom: 79px;
//   }
// }

// .form__item-outer {
//   display: grid;
//   grid-template-columns: 1fr;
//   gap: 14px;

//   @media (min-width: $tablet-width) {
//     gap: 20px;
//   }

//   @media (min-width: $desktop-width) {
//     grid-template-columns: 1fr 1fr;
//     gap: 80px;
//   }
// }

// .form__item {
//   display: grid;
//   grid-template-columns: auto 1fr;
//   gap: 14px;

//   @media (min-width: $tablet-width) {
//     gap: 15px;
//   }
// }

// .form__label {
//   align-self: center;
// }

// .form .form__title {
//   margin-bottom: 22px;

//   font-weight: 400;
//   color: $dark;
//   text-transform: none;

//   &::before,
//   &::after {
//     content: "";
//     top: 15px;
//   }

//   @media (min-width: $tablet-width) {
//     margin-bottom: 19px;
//   }
// }

// .form__input-outer {
//   position: relative;

//   &::after {
//     content: "";
//     position: absolute;
//     top: 54%;
//     right: 11px;
//     z-index: 99;

//     width: 20px;
//     height: 20px;

//     background-color: $dark;
//     transform: translateY(-52%);

//     mask-repeat: no-repeat;

//     @media (min-width: $tablet-width) {
//       top: 52%;
//       right: 11px;
//     }

//     @media (min-width: $desktop-width) {
//       right: 15px;
//     }
//   }

//   &:focus-within::after {
//     background-color: $basic-green;
//   }

//   &:hover::after {
//     background-color: $light-black;
//   }
// }

// // .form__input--invalid {
// //   background-color: $error;
// // }

// // .form__input--invalid {
// //   &:focus-within::after {
// //     background-color: $error;
// //   }
// // }

// // .form__input--valid {
// //   &:focus-within::after {
// //     background-color: $light-black;
// //   }
// // }

// .form__input--email::after {
//   mask-image: url("../img/svg/icon-email.svg");
// }

// .form__input--phone::after {
//   mask-image: url("../img/svg/icon-phone.svg");
// }

// .form__input {
//   width: 100%;
//   padding: 14px 15px 13px;

//   border: 1px solid $special-line-grey;

//   @media (min-width: $tablet-width) {
//     padding: 22px 15px 13px;
//     padding-left: 17px;
//   }

//   &:hover {
//     border-color: $line-grey;
//   }

//   &:focus,
//   &:focus-visible {
//     border-color: 1px solid $secondary-dark-grey;
//     outline: none;
//     box-shadow: 0 0 0 1px $secondary-dark-grey;
//   }

//   &:invalid {
//     border-color: $error;
//     box-shadow: 0 0 0 1px $error;
//   }

//   // &:valid {
//   //   border-color: $basic-green;
//   //   box-shadow: 0 0 0 1px $basic-green;
//   // }
// }

// // .form__input--invalid input {
// //   border-color: $error;
// // }

// // .form__input--valid input {
// //   border-color: $line-grey;
// // }

// .form__input::placeholder {
//   font-size: 16px;
//   font-family: $ff-oswald;
//   color: $secondary-dark-grey;
//   text-transform: uppercase;

//   @media (min-width: $tablet-width) {
//     font-size: 20px;
//   }
// }

// .form__textarea::placeholder {
//   font-size: 16px;
//   font-family: $ff-oswald;
//   color: $secondary-dark-grey;
//   text-transform: uppercase;

//   @media (min-width: $tablet-width) {
//     font-size: 20px;
//   }
// }

// .form__textarea {
//   width: 100%;
//   height: 150px;
//   margin: 0;
//   padding: 11px 14px 13px;

//   border: 1px solid $special-line-grey;

//   resize: none;

//   @media (min-width: $tablet-width) {
//     height: 173px;
//     margin-top: 10px;
//     padding: 10px 15px 13px 19px;
//   }

//   @media (min-width: $desktop-width) {
//     height: 174px;
//     margin-top: 0;
//     padding: 10px 18px 15px;
//   }

//   &:focus,
//   &:focus-visible {
//     border-color: $secondary-dark-grey;
//     box-shadow: 0 0 0 1px $secondary-dark-grey;
//   }
// }

// .form__button {
//   display: block;

//   font-size: 16px;
//   line-height: 20px;
//   text-transform: uppercase;

//   background-color: $basic-green;
//   border: none;

//   @media (min-width: $tablet-width) {
//     width: 284px;
//     padding: 17px 0;

//     list-style: 26px;
//     font-size: 20px;
//   }

//   @media (min-width: $desktop-width) {
//     width: 570px;
//   }
// }

// .form__important {
//   font-size: 14px;
//   line-height: 16px;
//   font-family: $ff-lato;
//   text-align: center;
//   text-transform: initial;

//   @media (min-width: $tablet-width) {
//     text-align: left;
//   }
// }
